/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Raleway:ital,wght@0,100;0,200;0,600;0,400;0,500;1,100;1,200&display=swap');
/* .Fonts */

/* hidden content */
.nsfw{
    display: none;
}
.error{
    display: none;
}
/* .hidden content */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 60px;
}

body {
    background-size:100%;
    background-color: black;
    background-position: left;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

#purple-background-canvas{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1200' height='1500' preserveAspectRatio='none' viewBox='0 0 1200 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1079%26quot%3b)' fill='none'%3e%3crect width='1200' height='1500' x='0' y='0' fill='rgba(34%2c 36%2c 38%2c 1)'%3e%3c/rect%3e%3cpath d='M703.55 1128.78a51.89 51.89 0 1 0-100.6 25.47z' stroke='rgba(231%2c 53%2c 85%2c 0.24)'%3e%3c/path%3e%3cpath d='M864.06 158.35a6.98 6.98 0 1 0 2.52-13.73z' stroke='rgba(0%2c 109%2c 44%2c 0.47)'%3e%3c/path%3e%3cpath d='M183.19 616.12a110.4 110.4 0 1 0-99.08-197.32z' stroke='rgba(253%2c 251%2c 0%2c 0.27)'%3e%3c/path%3e%3cpath d='M934.21 602.07L1030.45 602.07L1030.45 698.31L934.21 698.31z' fill='rgba(231%2c 53%2c 85%2c 0.24)'%3e%3c/path%3e%3cpath d='M978.02 631.8 a78.19 78.19 0 1 0 156.38 0 a78.19 78.19 0 1 0 -156.38 0z' stroke='rgba(231%2c 53%2c 85%2c 0.24)'%3e%3c/path%3e%3cpath d='M279.74 1172.44L305.5 1172.44L305.5 1198.2L279.74 1198.2z' fill='rgba(0%2c 109%2c 44%2c 0.47)'%3e%3c/path%3e%3cpath d='M795.09 95.28L835.29 95.28L835.29 135.48L795.09 135.48z' fill='rgba(0%2c 109%2c 44%2c 0.47)'%3e%3c/path%3e%3cpath d='M277.6 711.77L362.75 711.77L362.75 729.51L277.6 729.51z' fill='rgba(231%2c 53%2c 85%2c 0.24)'%3e%3c/path%3e%3cpath d='M670.7 1326.71L676.57 1326.71L676.57 1330.66L670.7 1330.66z' stroke='rgba(253%2c 251%2c 0%2c 0.27)'%3e%3c/path%3e%3cpath d='M156.02 1262.97L226.22 1262.97L226.22 1367.96L156.02 1367.96z' fill='rgba(0%2c 109%2c 44%2c 0.47)'%3e%3c/path%3e%3cpath d='M1121.33 1105.65L1209.31 1105.65L1209.31 1211.63L1121.33 1211.63z' stroke='rgba(253%2c 251%2c 0%2c 0.27)'%3e%3c/path%3e%3cpath d='M5.54 954.91L122.76 954.91L122.76 1072.13L5.54 1072.13z' fill='rgba(0%2c 109%2c 44%2c 0.47)'%3e%3c/path%3e%3cpath d='M329.46 196.07L434.65 196.07L434.65 301.26L329.46 301.26z' stroke='rgba(253%2c 251%2c 0%2c 0.27)'%3e%3c/path%3e%3cpath d='M533.52 1039.22L634.82 1039.22L634.82 1142.33L533.52 1142.33z' stroke='rgba(253%2c 251%2c 0%2c 0.27)'%3e%3c/path%3e%3cpath d='M274.06 1261.57L289.6 1261.57L289.6 1319.66L274.06 1319.66z' stroke='rgba(0%2c 109%2c 44%2c 0.47)'%3e%3c/path%3e%3cpath d='M174.04 114.03 a103.55 103.55 0 1 0 207.1 0 a103.55 103.55 0 1 0 -207.1 0z' fill='rgba(231%2c 53%2c 85%2c 0.24)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1079'%3e%3crect width='1200' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size:auto;
}

#vanta-canvas {
    width: 100%;
    height: 100%;
}

/* section styling */
#blog-posts,
#picture-posts,
#about {
    /* background-color: #222426 */
    background-image: cross-fade(blue,red);
}


.heading {
    height: 110px;
    width: 100%;
    margin-bottom: 25px;
    color: white;
    background-image: linear-gradient(110.3deg, rgba(255, 255, 255, 0.162) 4.3%, rgba(217, 217, 217, 0.257) 96.7%) !important;
    filter: saturate(200%);
    transition: all 100ms ease-in;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;

    border-radius: 5px;
    font-weight: 500;

}

/* .section styling */

/* navbar */
.icon{
    width: 35px;   
}
.navbar-custom {

    background-image: linear-gradient(110.3deg, rgb(35, 35, 35) 4.3%, rgb(28, 28, 28) 96.7%);
    backdrop-filter: blur(20px);
    z-index: 100;
    box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.275);
    filter: saturate(200%);
}

.box-shadow {
    box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.275);
}

/* navbar-toggler */
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    margin-top: -17px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 17px;
    transform: rotate(0deg);
}

/* .navbar-toggler */

.navbar-light .navbar-nav .nav-link {
    color: #ffffff85;
    transition: all 100ms ease-in;
    /* Ändert die Schriftfarbe der Navigationslinks */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    /* Ändert die Schriftfarbe der Navigationslinks */
}



.navbar-brand-custom {
    color: #ffffffbe !important;
    transition: all 100ms ease-in;
}

.navbar-brand-custom:hover {
    color: #ffffff !important;
}

.letterspacing {
    letter-spacing: 1px;
}

.login-button {
    color: #ffffff85;
    border: none;
    background-color: transparent;
    border-radius: 2px;
    transition: all 100ms ease-in;
}

.login-button:hover {
    color: #ffffff
}

.nav-icons {
    padding: 0;
}

/* .navbar */

/* login */
.bg-login-style{
    background-color: transparent;
    background-image: linear-gradient(110.3deg, rgba(57, 57, 57, 0.562) 4.3%, rgba(137, 130, 151, 0.544) 96.7%);
    backdrop-filter: blur(20px);
    filter: saturate(130%);
    color: white;
}

.form-control,
.form-control:focus{
    background-color: transparent;
    outline: none;
}

.btn-close-white,
.btn-close:active{
    outline: none;
}
.basic-text-login{
    color: rgba(255, 255, 255, 0.77);
}
.text-login{
    color: rgba(255, 255, 255, 0.77);
}
.text-login:hover{
    color: rgb(255, 255, 255);
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus{
    background-image: linear-gradient(110.3deg, rgba(139, 50, 157, 0.736) 4.3%, rgba(145, 63, 189, 0.776) 96.7%);
    border: 1px solid rgba(255, 255, 255, 0.77);
    border-radius: 4px;
}

 


/* .login */


/* main section */

/* landingpage */
.contianer-landingpage {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.landingpage-text {
    display: flex;
    position: absolute;
    text-align: center;
}

.typewrite {
    color: #fffffff3;
    font-size: 6rem;
    font-weight: 400;
}

/* .landingpage */

/* main section */
.card-body-1{
    background-image: linear-gradient(110.3deg, rgba(139, 50, 157, 0.736) 4.3%, rgba(145, 63, 189, 0.776) 96.7%) !important;
}
.card {
    background-color: transparent !important;
    background-image: linear-gradient(110.3deg, rgba(255, 255, 255, 0.162) 4.3%, rgba(217, 217, 217, 0.257) 96.7%) !important;
    filter: saturate(200%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;

}

/* .main section */

/* about */

.card-text-big {
    background-color: white;
    border-radius: 4px;
}

.card-text-body {
    text-align: justify;
    font-size: 16px !important;
}

/* .about */




/* .main section */

/* Footer */





/* .Footer */


/* Media Query */

@media (min-width: 768px) {
    .toggler-icon {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }
    .card:hover {
        border: 1px solid white;
    }


}


/* .Media Query */