/* 
easy way to style an html website 
1. root
2. global classes
3. individual sections
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');

/* root styling */
:root{
    --light: #ffffff;
    --secondary: #002347;
    --dark: #000000;
    --primary-color:#FF8E00;
    --secondary-color: #FF5003;
    --border: #e9ecef;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

* > * { /* ??? */
    box-sizing: border-box; /* padding and border are included in the width and height */
}

/* global styling */
.text-light{
    color: var(--light);
}

.text-white{
    color: white;
}

.text-secondary{
    color: var(--secondary);
}

.text-dark{
    color: var(--dark);
}

.text-primary{
    color: var(--primary-color);
}

.bg-light{
    color: var(--light);
}

.color-secondary{
    color: var(--secondary-color);
}

.background-black{
    background-color: #000000;
}

.background-white{
    background-color: white;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.img-fluid{
    width: 100%;
    transition: all 150ms ease-in-out;
}

/* creating hover effect for images */

.img-fluid:hover{
    transform: scale(1.05);
}


.text-title{
    font-family: 'Poppins', sans-serif;
}

.secondary-title{
    font-family: 'Poppins', sans-serif;
}

.display-1{
    font-size: 21px;
}

.display-2{
    font-size: 16px;
}

.display-3{
    font-size: 14px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.btn{
    padding: 15px 15px 20px 20px;
    border: none;
    margin: 20px;
}

.btn-primary{
    border-radius: 4px;
    background-color: #2ec4b6;
}

.object-fit{
    max-height: 120px;
    height: 80px;
    width: 80px;
    object-fit: fill;
    
}

.d-flex{
    display: flex;   
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.mt-2{
    margin-top: 10px;
}

.mt-3{
    margin-top: 50px;
}

.mb-3{
    margin-bottom: 30px;
}

.m-0{
    margin: 0;
}

.px-1{
    padding-left: 5px;
    padding-right: 5px;
}

.px-2{
    padding-left: 20px;
    padding-right: 20px;
}

.py-10{
    padding-top: 35px;
}

.py-1{
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-3{
    padding-top: 30px;
    padding-bottom: 30px;
}

.thumbnail{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.rounded{
    height: 120px;
    width: 120px;
    object-fit: fill;
    border-radius: 99px;
}

.letterspacing_header{
    letter-spacing: 2px;
}


/* section styling */

/*  */
/* --------------- Login Page --------------- */


 .loginpage-body {
    margin: 0;
    height: 80vh;
    display: flex ;
    align-items: center;
    justify-content:center;
    background-color: white;
    font-size: 18px;
}

.loginpage-container{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.form--hidden {
    display: none;
}

.form__buttom {
    border: 2px solid black;

}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;

}

.form__message--success {
    color: green;
}

.form__message--error{
    color: red;
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
    box-sizing: border-box; 
    /* box-sizing: border-box includes width and height in padding */
    border-radius: var(--border-radius);
    border: 2px solid black;
    outline: none;
    background: white;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--secondary-color);
    background: white;
}

.form__input--error {
    color: red;
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: red;
}

.form__button {
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    transition: all 80ms ease-in;
}

.form__button:hover {
    background: #ff4f034b;
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

/* --------------- .Login Page --------------- */
/* --------------- Navigation Menu --------------- */

.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: white;

}

.nav-brand{
    justify-content: center;
    font-family: 'DM', sans-serif;
    font-weight: 500;
    align-self: center;
    font-size: 32px;
    border: 2px solid black;
    padding: 1px 5px 2px 5px;
    transition: all 200ms ease-in;
}

.nav-brand:hover{
    color: white;
    background-color: #000000; 
}

.collapse{
    align-self: center;
}
/* zwei verschiedene Navabar Klassen, um items und icons zu unterscheiden */
.navbar-nav-items{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.navbar-nav-icons{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.nav-link{
    font-size: 18px;
    margin: 0px 12px 0px 12px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    transition: all 100ms ease-in;
}
/* Bar Animation for nav bar */
.nav-link-anim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    margin: px;
    padding: 0px 50px 0 50px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link-anim::after{
    content: '';
    position: absolute;
    display: flex;
    height: 3px;
    width: 0%;
    background-color: var(--secondary-color);
    bottom: -10%;
    transition: all ease-in-out 200ms;
    } 

.nav-link-anim:hover::after{
    width: 40%;
}

.nav-link:hover{
    color: var(--secondary-color);
}

.search-box{
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin: 0px 12px 0px 12px;

}

.toggle-button{
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: sticky;
    top: 0;
    z-index: 10;
    right: 0;
    margin: 8px 10px;
    padding-top: 10px;
    display: none;
}

.toggle-button:focus{
    outline: none;
}

/* for a sticky navbar */
.sticky {
	position: sticky;
    top: 0;
    z-index: 10;
}

/* for the Login Button */
.login-button{
    border: 2px solid black;
    background-color: white;
    transition: all 100ms ease-in;
}

.login-button:hover{
    background-color: #FF5003;
}
  
/* --------------- Navigation Menu --------------- */


/* --------------- Main Section --------------- */
#site-main{
    margin-top: 0px;
    background-color: black;
    color: white;
}

#posts{
    margin-top: 0px;
}

.grid{
    margin: 0 auto;
}

.grid .grid-item{
    width: calc(33.333333% - 20px);
    /* -20px da wir eine 20px gutter in dem .js file haben */
    margin-bottom: 3em;
}

/* Landing page */
.landingpage-text{
    margin: 0px;
    padding: 50px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #000000;
}
.typewrite{
    font-size: 70px;
    color: #FF5003;
}



/* --------------- .Main Section --------------- */

/* --------------- Footer --------------- */
#footer{
    padding-top: 4em;
}

#footer .feature-post .flex-item{
    margin-bottom: 20px;
}

.footer-title{
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* --------------- Footer --------------- */

/* article page */
#post{
    padding: 0 2em;
    margin-bottom: 4em;
}
/* .article page */

/* Media Query */

.row{
    display: flex;
}

.col-3{
    flex:0 0 33.333%;
    max-width: 33.333%;
    padding-right: 35px;
}


@media(max-width: 1024px){ 
    .navbar{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        
    }

    .navbar-nav-items{
        padding: 10px 50px 0 50px;
    }

    .navbar-nav-icons{
        padding: 0;
    }

    .row{
        flex-wrap: wrap;
    }
    .col-3{
        flex:0 0 50%;
        max-width: 50%;
    }

    .search-box{
        margin: 12px;
    }

    .nav-link{
        margin: 12px;
    }
}

@media(max-width: 992px){ 
    .navbar{
        flex-direction: column; 
    }

    .navbar-nav-items{
        padding: 10px 50px 0 50px;
    }

    .navbar-nav-icons{
        padding: 0;
    }
}

/* Damit das Gridsystem aus JS responsive ist */
@media(max-width: 768px){ 
    .grid .grid-item{
        width: calc(50% - 20px);
    }
    .col-3{
        flex:0 0 100%;
        max-width: 100%;
    }

    .navbar-nav-items{
        padding: 10px 50px 0 50px;
    }

    .navbar-nav-icons{
        padding: 0;
    }
    .landingpage-text{
        padding: 50px 0px 50px 0px;
    }
}
@media(max-width: 574px){

    .toggle-button{
        display: initial;
        position: absolute;
    }

    .collapse .navbar-nav-items{
        display: block;
        text-align: center;
        justify-content: center;
        padding: 10px;
    }

    .nav-link-anim{
        text-align: center;
        padding-bottom: 10px;
        transition: all 100ms ease-in;
    }

    /* keine Navbar Animation in dieser Ansicht */

    .nav-link-anim:hover::after{
        width: 0%;
    }

    .nav-link-anim:hover{
        color: #FF5003;
    }
    
    .navbar-nav-icons{
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 0;
    }

    .collapse .nav-link{
        display: block;
        text-align: center;
    }

    .search-box{
        border: none;
        margin: 0;
        padding: 0;
    }
    
    .collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 0.96, 0.58, 1);
    }

    .collapse-toggle{
        max-height: 500px;
        transition: all 0.5s cubic-bezier(0.68, 0.03, 0.98, 0.37);
    }
    .grid .grid-item{
        width: calc(100%);
    }

    .typewrite{
        font-size: 55px ;
    }
    
    .img-fluid{
        padding: 30px 30px;
    }



}


